:root {
    --primary-color: #2F4F4F;
    --secundary-color: #9ACD32;
}

html {
    font-size: 62.5%;
    text-align: justify;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--primary-color);
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.4rem;
    word-spacing: 0.2rem;
    letter-spacing: 0.03rem;
}

.container {
    display: grid;
    grid-template-rows: 1f 4rem;
}

.container_base {
    display: grid;
    grid-template-rows: 10rem 1fr;
    max-width: 100%;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
}

header img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 2rem;
    margin: 2rem 0;
    text-align: center;
}

h2 {
    font-size: 1.4rem;
    font-weight: normal;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

p {
    margin: 1rem 1rem 1rem 0;
    padding: 0 1rem;
}

.apresentation h1 {
    background-color: var(--primary-color);
    color: white;
    padding: 0.2rem 0.4rem;
    border-radius: 0.4rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.apresentation figure {
    width: 90%;
    background-color: #EEE;
    margin: 1.5rem auto;
    text-align: center;
    font-style: italic;
    box-shadow: 0 0.2rem 0.5rem #AAA;
}

.apresentation figure img {
    max-width: 100%;
    height: auto;
}

.history h1, .course h1 {
    border-bottom: 0.4rem solid var(--secundary-color);
}

ul {
    margin: 0 0 1rem 3rem;
}

footer {
    border-top: 0.4rem solid var(--secundary-color);
    background-color: var(--primary-color);
    color: white;
}

.container_footer section p {
    text-align: center;
}

.container_footer {
    max-width: 900px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2rem;
    align-items: center;
}

address {
    font-style: normal;
    margin: 0 auto;
}

address, .rights, .who_am_i {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

address p, .rights p, .who_am_i p {
    font-weight: bold;
    font-size: 1.3rem;
    margin: 0;
    max-width: 32rem;
    text-align: justify;
}

address a {
    text-decoration: none;
    color: white;
}

@media screen and (min-width:800px) {
    .container_base {
        max-width: 900px;
    }
    h1 {
        text-align: left;
        padding-left: 1rem;
    }
    .apresentation h1 {
        margin-left: 0%;
        margin-right: 0rem;
        
    }
    .container_footer {
        flex-direction: row;
        row-gap: 0;
        column-gap: 2em;
    }
    .container_footer section p {
        text-align: left;
    }
}