html {
    font-size: 62.5%;
}

html,
body {
    height: 100%;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

.material-symbols-outlined {
  position: absolute;
  transform: scale(0.8);
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}